VITE_API_URL=https://mindstream-api.onrender.com
VITE_SUPABASE_URL=https://opjbewjuosamidgdblth.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9wamJld2p1b3NhbWlkZ2RibHRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4ODAzNzUsImV4cCI6MjA5NzQ1NjM3NX0.DyvQPBBIW1oP97jhhGCqkpxFFBZ7v8klhWGiO46vMXQ
